<h1 class="card-title">Contact</h1>
<p>
  何かございましたら以下までご連絡くださいませ。<br>
</p>
<div class="flex flex-wrap gap-4">
  <a href="https://x.com/return_chiba" target="_blank" class="sns-link">
    <img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/x.svg" alt="Twitter" class="w-5 h-5 inline-block mr-1">
    <span>Twitter</span>
  </a>
  <a href="https://qiita.com/return_chiba" target="_blank" class="sns-link">
    <img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/qiita.svg" alt="Qiita" class="w-5 h-5 inline-block mr-1">
    <span>Qiita</span>
  </a>
  <a href="https://github.com/amomo0220" target="_blank" class="sns-link">
    <img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/github.svg" alt="GitHub" class="w-5 h-5 inline-block mr-1">
    <span>GitHub</span>
  </a>
  <a href="https://codepen.io/amomo0220" target="_blank" class="sns-link">
    <img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/codepen.svg" alt="CodePen" class="w-5 h-5 inline-block mr-1">
    <span>CodePen</span>
  </a>
</div>